<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="home">
            </ion-icon>
            Quédate En Casa
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="person" md="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-card>
            <ion-card-header>
                <ion-row>
                    <ion-col size="4">
                        <img src="../../../assets/avatars/{{userInfo.photoUrl}}">
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-subtitle>
                            @{{userInfo.username}}
                        </ion-card-subtitle>
                        <ion-card-subtitle class="title-tab">
                            {{userInfo.name}}
                        </ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        {{user.email}}
                    </ion-item>
                    <ion-item>
                        {{userInfo.description}}
                    </ion-item>
                </ion-list>
            </ion-card-content>
            <ion-footer>
                <ion-list>
                    <ion-item>
                        <ion-label>Ultima vez: </ion-label>
                        <ion-datetime value="{{user.lastRefreshAt}}" display-timezone="utc"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-footer>
        </ion-card>
    </ion-grid>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-button expand="block" color="primary" [routerLink]="['/editar']">Editar perfil</ion-button>
</ion-content>